<div class="grid">
  <div class="col-12">
    <p-card
      styleClass="shadow-3 m-5 text-indigo-800"
      header="produtos em estoque"
    >
      <p-table
        #productsTable
        [value]="products"
        [rows]="10"
        [paginator]="true"
        [responsive]="true"
        [globalFilterFields]="['name', 'amount']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="productSelected"
        [rowHover]="true"
        dataKey="id"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} produtos"
      ></p-table>
    </p-card>
  </div>
</div>
