<div class="grid">
  <div class="col-12">
    <div
      class="flex justify-content-center align-content-center text-align-center"
    >
      <!--Login-->

      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
        <p-card
          styleClass="mt-10"
          header="Login"
          subheader="Faça seu Login com sua conta existente"
          *ngIf="LoginCard"
        >
          <div
            class="flex justify-content-center align-content-center text-align-center"
          >
            <input
              type="email"
              pInputText
              placeholder="E-mail"
              formControlName="email"
            />
          </div>
          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <input
              type="password"
              pInputText
              placeholder="Senha"
              formControlName="password"
            />
          </div>

          <div class="card flex justify-content-center mt-3">
            <button pButton pRipple type="submit" label="Login"></button>
          </div>

          <span
            class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold cursor-pointer"
            (click)="LoginCard = !LoginCard"
          >
            Criar conta
          </span>
        </p-card>
      </form>

      <!--Criar conta-->
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUpForm()">
        <p-card
          styleClass="mt-10"
          header="Criar conta"
          subheader="Crie já sua conta gratuíta"
          *ngIf="LoginCard == false"
        >
          <div
            class="flex justify-content-center align-content-center text-align-center"
          >
            <input
              type="text"
              pInputText
              placeholder="Nome"
              formControlName="name"
            />
          </div>
          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <input
              type="email"
              pInputText
              placeholder="E-mail"
              formControlName="email"
            />
          </div>
          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <input
              type="password"
              pInputText
              placeholder="Senha"
              formControlName="password"
            />
          </div>

          <div class="card flex justify-content-center mt-3">
            <button pButton pRipple type="submit" label="Criar conta"></button>
          </div>

          <span
            class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold cursor-pointer"
            (click)="LoginCard = !LoginCard"
          >
            Fazer Login
          </span>
        </p-card>
      </form>
    </div>
  </div>
</div>
